<!DOCTYPE html>
<html class="login-bg">
<head>
	<title>米特学堂后台管理系统</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="stylesheets/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="stylesheets/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="stylesheets/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="stylesheets/layout.css" />
    <link rel="stylesheet" type="text/stylesheets" href="stylesheets/elements.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="stylesheets/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="stylesheets/compiled/signin.css" type="text/css" media="screen" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

{{{body}}}
	<!-- scripts -->
    <script src="javascripts/jquery-latest.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/theme.js"></script>
</body>
</html>