<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>用户信息页面</title>

    {{{_sections.css}}}
</head>

<body ontouchstart>
    
    <div class="container" id="container"></div>

    {{{body}}}
    {{{_sections.javascriptlib}}}
</body>

</html>