<!-- main container -->
<div class="content">

    <!-- settings changer -->
    {{!
    <div class="skins-nav">
        <a href="#" class="skin first_nav selected">
            <span class="icon"></span><span class="text">Default skin</span>
        </a>
        <a href="#" class="skin second_nav" data-file="css/skins/dark.css">
            <span class="icon"></span><span class="text">Dark skin</span>
        </a>
    </div>}}

    <div class="container-fluid">

        <!-- upper main stats -->
        <div id="main-stats">
            <div class="row-fluid stats-row">
                <div class="span3 stat">
                    <div class="data">
                        <span class="number">2457</span> 新增客户
                    </div>
                    <span class="date">每日</span>
                </div>
                <div class="span3 stat">
                    <div class="data">
                        <span class="number">3240</span> 用户总数
                    </div>
                    <span class="date">截止到今天</span>
                </div>
                <div class="span3 stat">
                    <div class="data">
                        <span class="number">322</span> 订单总数
                    </div>
                    <span class="date">本周</span>
                </div>
                <div class="span3 stat last">
                    <div class="data">
                        <span class="number">$2,340</span> 销售
                    </div>
                    <span class="date">最近30天的销售业绩</span>
                </div>
            </div>
        </div>
        <!-- end upper main stats -->

        <div id="pad-wrapper">

            <!-- statistics chart built with jQuery Flot -->
            <div class="row-fluid chart">
                <h4>
                    每日订单业绩
                    <div class="btn-group pull-right">
                        <button class="glow left">日</button>
                        <button class="glow middle active">月</button>
                        <button class="glow right">年</button>
                    </div>
                </h4>
                <div class="span12">
                    <div id="statsChart"></div>
                </div>
            </div>
            <!-- end statistics chart -->
        </div>
    </div>
</div>
{{#section 'css'}}
<!-- bootstrap -->
    <link href="../stylesheets/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../stylesheets/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../stylesheets/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="../stylesheets/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="../stylesheets/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/layout.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/elements.css" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/icons.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="../stylesheets/compiled/index.css" type="text/css" media="screen" />
{{/section}}
{{#section 'javascriptlib'}}
    <!-- scripts -->
    <script src="../javascripts/jquery-latest.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script src="../javascripts/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="../javascripts/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="../javascripts/jquery.flot.js"></script>
    <script src="../javascripts/jquery.flot.stack.js"></script>
    <script src="../javascripts/jquery.flot.resize.js"></script>
    <script src="../javascripts/theme.js"></script>
    <script type="text/javascript">
        $(function () {

            // jQuery Knobs
            $(".knob").knob();



            // jQuery UI Sliders
            $(".slider-sample1").slider({
                value: 100,
                min: 1,
                max: 500
            });
            $(".slider-sample2").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".slider-sample3").slider({
                range: true,
                min: 0,
                max: 500,
                values: [40, 170],
            });



            // jQuery Flot Chart
            var visits = [[1, 50], [2, 40], [3, 45], [4, 23], [5, 55], [6, 65], [7, 61], [8, 70], [9, 65], [10, 75], [11, 57], [12, 59]];
            var visitors = [[1, 25], [2, 50], [3, 23], [4, 48], [5, 38], [6, 40], [7, 47], [8, 55], [9, 43], [10, 50], [11, 47], [12, 39]];

            var plot = $.plot($("#statsChart"),
                [{ data: visits, label: "Signups" },
                { data: visitors, label: "Visits" }], {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 1,
                            fill: true,
                            fillColor: { colors: [{ opacity: 0.1 }, { opacity: 0.13 }] }
                        },
                        points: {
                            show: true,
                            lineWidth: 2,
                            radius: 3
                        },
                        shadowSize: 0,
                        stack: true
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#f9f9f9",
                        borderWidth: 0
                    },
                    legend: {
                        // show: false
                        labelBoxBorderColor: "#fff"
                    },
                    colors: ["#a7b5c5", "#30a0eb"],
                    xaxis: {
                        ticks: [[1, "JAN"], [2, "FEB"], [3, "MAR"], [4, "APR"], [5, "MAY"], [6, "JUN"],
                        [7, "JUL"], [8, "AUG"], [9, "SEP"], [10, "OCT"], [11, "NOV"], [12, "DEC"]],
                        font: {
                            size: 12,
                            family: "Open Sans, Arial",
                            variant: "small-caps",
                            color: "#697695"
                        }
                    },
                    yaxis: {
                        ticks: 3,
                        tickDecimals: 0,
                        font: { size: 12, color: "#9da3a9" }
                    }
                });

            function showTooltip(x, y, contents) {
                $('<div id="tooltip">' + contents + '</div>').css({
                    position: 'absolute',
                    display: 'none',
                    top: y - 30,
                    left: x - 50,
                    color: "#fff",
                    padding: '2px 5px',
                    'border-radius': '6px',
                    'background-color': '#000',
                    opacity: 0.80
                }).appendTo("body").fadeIn(200);
            }

            var previousPoint = null;
            $("#statsChart").bind("plothover", function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.dataIndex) {
                        previousPoint = item.dataIndex;

                        $("#tooltip").remove();
                        var x = item.datapoint[0].toFixed(0),
                            y = item.datapoint[1].toFixed(0);

                        var month = item.series.xaxis.ticks[item.dataIndex].label;

                        showTooltip(item.pageX, item.pageY,
                            item.series.label + " of " + month + ": " + y);
                    }
                }
                else {
                    $("#tooltip").remove();
                    previousPoint = null;
                }
            });
        });
    </script>
{{/section}}