<div class="row-fluid login-wrapper">
    <div>
        <img class="logo" src="../images/logo-white.png" />
    </div>

    <div class="span4 box">
        <div class="content-wrap">
            <h6>登录</h6>
            <input class="span12" type="text" placeholder="登录用户名" name="username" />
            <input class="span12" type="password" placeholder="密码" name="password" /> {{!忘记密码在不开放
            <a href="#" class="forgot">Forgot password?</a>}} {{!
            <div class="remember">
                <input id="remember-me" type="checkbox" />
                <label for="remember-me">Remember me</label>
            </div>}}
            <div class="btn-glow primary login">登录系统</div>
        </div>
    </div>

    {{!注册系统暂时不开放
    <div class="span4 no-account">
        <p>Don't have an account?</p>
        <a href="signup.html">Sign up</a>
    </div>}}
</div>
{{#section 'css'}}
<link href="../stylesheets/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="../stylesheets/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
<link href="../stylesheets/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../stylesheets/layout.css" />
<link rel="stylesheet" type="text/stylesheets" href="../stylesheets/elements.css" />
<link rel="stylesheet" type="text/css" href="../stylesheets/icons.css" />
<link rel="stylesheet" type="text/css" href="../stylesheets/lib/font-awesome.css" />
<link rel="stylesheet" href="../stylesheets/compiled/signin.css" type="text/css" media="screen" /> 
{{/section}} 

{{#section 'javascriptlib'}}
<script src="../javascripts/jquery-latest.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/theme.js"></script>
{{/section}}