

    <form class="form-signin">
        <h3 class="form-signin-heading">{{nickname}}的个人信息</h3>
        <p class="form-signin-heading">徽章系统敬请期待</p>
        <img src={{headimgurl}} style="width: 120px;display: block" />
        <div class="form-signin-heading">
            <p>性别:{{sex}}</p>
            <p>所在地:{{province}}</p>
        </div>
        <p class="form-signin-heading">课程系统敬请期待</p>
        <p class="form-signin-heading">其他活动敬请期待</p>
    </form>


<!-- /container -->



{{#section 'css'}}
<!-- Bootstrap core CSS -->
<link href="../stylesheets/bootstrap/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../stylesheets/signin.css" rel="stylesheet"> {{/section}} {{#section 'javascriptlib'}} {{/section}}